.footer{
    margin-top: 40px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // background-color: #2d2d2d;
}

.footer p{
    font-size: 13px;
    font-weight: 500;
    color: #ababab;
}